In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import dash
from dash import dcc
from dash import html

In [2]:
data_url = './Face_Detection_PyQt_Final/Attendance.csv'
data = pd.read_csv(data_url, sep = ',', names = ['name', 'date', 'checkin'])

In [3]:
data.head()

      name               date checkin
0   ALIXAN  22/03/12 17:44:38   keldi
1  UMIDBEK  22/03/12 17:45:23   keldi
2   MA'RUF  22/03/12 17:45:32   keldi
3   MA'RUF  22/03/12 17:45:41   ketdi
4   ALIXAN  22/03/12 17:46:01   keldi